/* ------smartphones------*/

@media only screen and (max-device-width: 767px) {
.container { width: 100%; padding:0 20px; }
	/*---simple grid---*/
	.columns_1,
	.columns_2,
	.columns_3,
	.columns_4,
	.columns_5,
	.columns_6,
	.columns_7,
	.columns_8,
	.columns_9,
	.columns_10,
	.columns_11,
	.columns_12 {width: 100%; margin-right: 0%; }

	.columns_1:last-of-type,
	.columns_2:last-of-type,
	.columns_3:last-of-type,
	.columns_4:last-of-type,
	.columns_5:last-of-type,
	.columns_6:last-of-type,
	.columns_7:last-of-type,
	.columns_8:last-of-type,
	.columns_9:last-of-type,
	.columns_10:last-of-type,
	.columns_11:last-of-type,
	.columns_12:last-of-type {
		margin-right: auto;
	}


	nav {display: none; visibility: hidden;}

    .text-overlay {
        line-height: normal;


    }


    .quote-box {
	width: 100%;
	color: #ffffff;
	margin-left: 0px;

}
.quote {
	width: 100%;
	padding: 0px;
	background-color: #262626;
	position: relative;
	margin: 0px;
    padding: 40px;
    font-size: .7em;



}

    .qoute-svg-l{
	background: url(../images/quotes-l.svg) no-repeat;
	position: absolute;
	left: -48px;
	top: 6px;
    width: 30px;

}
.qoute-svg-r{
	background: url(../images/quotes-r.svg) no-repeat;
	position: absolute;
	left: 268px;
	top: 80px;
    width: 30px;

}
    .creative{
        font-size: 1m
    }

    .timeline{display: none; visibility: hidden;}

    .discography{
        text-align: center;
        margin: 0px;

    }
    .discography p{margin-bottom: 35px;}

     .discography h3{
	margin-bottom: 5px;
         margin-top: 10px;
}
    .videos{
	width: 100%;
	padding-top: 100px;
	float:left;
text-align: center;

    }
    .para-2 {display: none; visibility: hidden;}

    .about {
	height: 269px;
	  background-size: cover;
        padding-bottom: 0px;
       padding-top: 0px;
	  background-position: center;
	  float: left;
}
    .responsive-v {
        width: 300px;
        margin-bottom: 20px
    }
		.qoute-svg-r {
			left: 238px;
			top: 150px;
		}

		.drop-down{display: none; visibility: hidden;}

.hero-image-responsive {
background: url(../images/hero-mobile.jpg);
height:1000px;
width:100%;
display:inline-block;
filter: blur(1px);
  -webkit-filter: blur(1px);
}

.footer-distributed form input, .footer-distributed form textarea{
	width: 260px;
	text-align: center;
}
.text-overlay{
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	z-index: 4;
	top: 550px;
	left: 1px;
	padding: 0 30px 0 20px;}

.text-overlay-1{
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	z-index: 4;
	top: 720px;
	left: 80px;}
	'
	.carousel{
		width:100%;
	}
	.carousel-cell{
		width: 100%;
	}
.store-h{
text-align: center;}
.event-h{
text-align: center;}

.annual {
	margin-bottom: 15px;
}

.annual-p{
	margin-bottom: 20px;
}
.sub {
	text-align: center;
}
.social-icons{
	text-align: center;
	padding: 20px;
}

.footer-links{
	text-align: center;
}
.M-center{
	text-align: center;
}

.sub-c{
	margin-top: 24px;
	text-align: center;
}

.button{
	text-align: center;
}
.info{
  padding: 0 0px 0 25px;
}
.branding{
	margin-top: 0px;

}
